[submodule "lib/src/jsoncpp"]
	path = lib/src/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "lib/src/libtins"]
	path = lib/src/libtins
	url = https://github.com/mfontanini/libtins.git
[submodule "lib/src/easyloggingpp"]
	path = lib/src/easyloggingpp
	url = git@github.com:easylogging/easyloggingpp.git
